body{
   color: #7f984e;
   font-family: Verdana, sans-serif;
   margin: 0px;
   background-color: #dcdfe6;
}

header {
  background-color: #dcdfe6;
  padding-top: 32px;
  padding-bottom: 32px;
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title{
    /*height: 100vh;              /* 画面いっぱい */
    display: flex;
    align-items: center;        /* 縦中央 */
    justify-content: center;    /* 横中央 */
    background: #dcdfe6; 
}
.header-text{
  margin: 10px;
  display: flex;
  width: 330px;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-text p {
  margin: 0; 
  flex: 0 0 auto;
  padding: 0 3pt;
  font-size: 9pt;
  font-family:cursive;
}

.sns-list {
  list-style: none;      /* ●を消す */
  padding: 0;
  margin: 0;
  display: flex;         /* 横並び */
  gap: 16px;             /* 間隔 */
}

.sns-list a {
  text-decoration: none;
  color: #7f984e;
  font-weight: 500;
  border: 1px solid rgba(0,0,0,0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 18px;
  border: 1px solid #ccc;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
}

@media (max-width: 768px) {
  .sns-list {
    flex-direction: column;   /* 縦並びにする */
    gap: 12px;
  }

  .sns-list a {
    width: 100%;
    padding: 14px 0;          /* 高さをしっかり確保 */
    font-size: 18px;
  }
}

.sns-list a:hover {
  opacity: 0.6;
}

.section {
  padding: 120px 20px;        /* 上下余白大きめ */
  max-width: 900px;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.1);
  /*background-color: #dcdfe6;*/
  background: white;
}

.section ul {
  list-style: none;      /* ●を消す */
  padding-left: 1rem;
}