body{
   color: #333;
   font-family: Verdana, sans-serif;
   margin: 0px;
}


header {
    background-color: #eed0de;
    padding-top: 32px;
    padding-bottom: 32px;
}

.sns-list {
  list-style: none;      /* ●を消す */
  padding: 0;
  margin: 0;
  display: flex;         /* 横並び */
  gap: 20px;             /* 間隔 */
}

.sns-list a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  border: 1px solid rgba(0,0,0,0.1);
}

.sns-list a:hover {
  opacity: 0.6;
}

.title{
    height: 100vh;              /* 画面いっぱい */
    display: flex;
    align-items: center;        /* 縦中央 */
    justify-content: center;    /* 横中央 */
    background: #f5f5f5; 
}

.section {
  padding: 120px 20px;        /* 上下余白大きめ */
  max-width: 900px;
  margin: 0 auto;
  scroll-snap-align: start;     /*スクロールスナップ*/
  border: 1px solid rgba(0,0,0,0.1);
}

/*スクロールスナップ*/
html {
  scroll-snap-type: y mandatory;
}
